.git
.embuild
.platformio
.pytest_cache
__pycache__
.deploy
.hypothesis
.venv
venv
build
install
log
grassclippr/.git
grassclippr/.embuild
grassclippr/target
grassclippr/build
rover/baseboard/.pio
rover/rover_description/launch/__pycache__
*.img
*.img.xz
*.jpg
*.jpeg
